<!DOCTYPE html>
<html ng-app="taxitube">
<head>
  <title>Is it easier to get a taxi, or grab the tube?</title>

  <link rel="stylesheet" type="text/css" href="/stylsheets/bootstrap.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="javascripts/app.js"></script>
  <script src="javascripts/journeycontroller.js"></script>

</head>

<body ng-controller="JourneyCtrl">
  {{ 1+1 }}
  <button class="btn btn-default" ng-click="getTest()">Get some stuff</button>
</body>
</html>
